body {
  background-color: #f1f2f2;
  min-width: 1280px;
}

.center {
  width: 1246px;
  margin: 0 auto;
  overflow: hidden;

}

.recent_blocks {

  margin: 115px auto 15px auto;
  background-color: #fff;
  padding: 34px 30px 0 32px;
  position: relative;
  padding-bottom: 40px;
}

.recent_blocks .title {
  font-family: Helvetica;
  font-size: 24px;
  color: #212733;
  padding-left: 6px;
}

.recent_blocks .btnRed {
  position: absolute;
  top: 30px;
  right: 32px;
}

/* 列表开始*/
.title_list {
  margin-top: 15px;
  font-size: 18px;
  color: #6e6e6e;
  padding-left: 6px;
  overflow: hidden;
  line-height: 34px;
  border-bottom: 2px solid #e1e1e1;
}

.title_list_warp div {
  font-size: 14px;
  padding: 12px 0;
  color: #58595b;
  word-wrap: break-word;
}

a {
  color: #0088ce;
}

a:hover {
  color: #0088ce;
}

.title_list_warp div:nth-child(1) {
  margin-left: 6px;
}

.title_list_warp {
  overflow: hidden;
  border-bottom: 1px solid #e1e1e1;
}

.title_list_flex:nth-child(even) {
  background: #F4F4F4;
}

.title_list {
  background-color: #fff !important;
}

.title_list_flex .error {
  float: left !important;
  margin-right: 6px !important;
  width: 16px;
  margin-top: 0px !important;
}

.title_list_flex div {
  float: left;
}

.title_list_flex div:nth-child(1) {
  width: 266px;
}

.title_list_flex div:nth-child(2) {
  width: 410px;
}

.title_list_flex div:nth-child(3) {
  width: 390px;
}

/* 列表结束*/
.recent_transactions {
  margin-top: 15px;
}

.recent_transactions_p {
  margin-left: 6px;
}

.recent_transactions .title_list_flex div:nth-child(1) {
  width: 196px;
}

.recent_transactions .title_list_flex div:nth-child(2) {
  width: 400px;
}

.recent_transactions .title_list_flex div:nth-child(3) {
  width: 430px;
}

.btnRed {
  float: left;
  border: 1px solid #ff3434;
  border-radius: 6px;
  color: #ff3434;
  padding: 7px 12px;
  font-size: 12px;
  cursor: pointer;
}

.btnRed:hover {
  background-color: #ff3434;
  color: #fff;
}

.btnRed_blue {
  float: left;
  border: 1px solid #0088ce;
  border-radius: 6px;
  color: #0088ce;
  padding: 7px 12px;
  font-size: 12px;
  cursor: pointer;
}

.btnRed_blue:hover {
  background-color: #0088ce;
  color: #fff;
}

.btnBlue {
  color: #fff;
  float: right;
  border-radius: 6px;
  background-color: #0088ce;
  padding: 2px 18px;
  cursor: pointer;
  font-size: 16px;
  border: none;
}

.block .btnBlue {
  font-size: 12px;
  background-color: #00aeef;
  padding: 0;
  width: 90px;
  height: 30px;
  border-radius: 6px;
  line-height: 30px;
  text-align: center;
  margin-left: 10px;
}

.block .btnBlue:hover {
  color: #fff;
}

.block .btn_div {
  position: absolute;
  top: 30px;
  right: 32px;
}

.block .title {
  position: relative;
  padding-bottom: 10px;
  border-bottom: 2px solid #e1e1e1;
}

.block .block_list {
  overflow: hidden;
  width: 100%;
  border-bottom: 1px solid #e1e1e1;
  margin-left: 2px;
  text-indent: 4px;
}

.block .block_list div {
  width: 80%;
  float: left;
  padding: 10px 0px;
}

.block .block_list div:nth-child(1) {
  width: 230px;
  font-size: 16px;
  color: #6e6e6e;
}

.block .block_list div:nth-child(1) {
  font-size: 14px;
  color: #58595b;
}

.block .block_title {
  padding-top: 24px;
  padding-bottom: 0px;
  border-bottom: none;
}

.block .title_list_flex img {
  float: right;
  margin-top: 2px;
  margin-right: 20px;

}

.block .title_list_flex div:nth-child(1) {
  width: 150px;
}

.block .title_list_flex div:nth-child(2) {
  width: 110px;
}

.block .title_list_flex div:nth-child(3) {
  width: 400px;
}

.block .title_list_flex div:nth-child(4) {
  width: 400px;
}

pre {
  font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
  display: block;
  padding: 11px;
  margin: 0 0 11.5px;
  font-size: 12px;
  line-height: 1.846;
  word-break: break-all;
  word-wrap: break-word;
  color: #212121;
  background-color: #f5f5f5;
  border: 1px solid #cccccc;
  border-radius: 3px;
  white-space: pre-wrap;

}

.br_none {
  border: none !important;
}

.pd_none {
  padding: 0 !important;
}

.tx .Raw_Trace {
  position: absolute;
  font-size: 14px;
  top: 0;
  left: 6px;
}

.tx .title_list_flex div:nth-child(1) {
  width: 230px;
}

.tx .title_list_flex div:nth-child(2) {
  width: 410px;
}

.tx .title_list_flex div:nth-child(3) {
  width: 410px;
}

.tx .title_list_flex div:nth-child(4) {
  width: 180px
}

.tx .tx_list > div {
  float: left;
  padding: 0 !important;
  width: auto !important;
}

.capitalize {
  text-transform: capitalize;
}

.tx .tx_list img {
  margin-left: 10px;
}

.toolTips {

  position: absolute;
  padding: 0 !important;
  width: inherit !important;
  margin-top: -2px;
  margin-left: 10px;
}

.toolTips_show {
  display: block;
  animation: fade-in; /*动画名称*/
  animation-duration: 0.5s; /*动画持续时间*/
}

.toolTips_hide {

  animation: fade-out; /*动画名称*/
  animation-duration: 0.5s; /*动画持续时间*/
}

@keyframes fade-out {
  0% {
    opacity: 1;
  }
  /*初始状态 透明度为0*/
  40% {
    opacity: 0.5;
  }
  /*过渡状态 透明度为0*/
  100% {
    opacity: 0;
  }
  /*结束状态 透明度为1*/
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  /*初始状态 透明度为0*/
  40% {
    opacity: 0.5;
  }
  /*过渡状态 透明度为0*/
  100% {
    opacity: 1;
  }
  /*结束状态 透明度为1*/
}

.toolTips div {
  padding: 0;
  float: left !important;
  width: auto !important;
}

.toolTips .toolTips_txt {
  font-size: 12px;
  color: #fff;
  background-color: #acacac;
  padding: 4px 8px !important;
  border-radius: 4px;
}

.triangle-left {
  margin-top: 6px;

  width: 0;
  height: 0;
  border-top: 5px solid transparent;
  border-right: 8px solid #acacac;
  border-bottom: 5px solid transparent;
}

.service .title_list_flex div {
  padding-right: 12px;
}

.service .title_list_flex div:nth-child(1) {
  width: 190px;
}

.service .title_list_flex div:nth-child(2) {
  width: 240px;

}

.service .title_list_flex div:nth-child(3) {
  width: 370px;
}

.service .title_list_flex div:nth-child(4) {
  width: 140px;
}

.service .title_list_flex div:nth-child(5) {
  width: 140px;
}

.service .title_list_flex div:nth-child(6) {
  width: 86px;
  font-size: 0;
  text-align: center;
}

.modal {
  position: relative;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 10;
  overflow: hidden;
  background: rgba(0, 0, 0, 0.4);
  -webkit-overflow-scrolling: touch;
  outline: 0;
  opacity: 1;
  display: none;
  overflow-x: hidden;
  overflow-y: auto;
}

.modal .modal-dialog {

  width: 800px;
  position: absolute;
  top: 140px;
  left: 50%;
  margin-left: -400px;
  background-color: #fff;
  border-radius: 10px;
}

.modal .modal-dialog .modal-head {
  height: 50px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  background-color: #212733;
  color: #fff;
  font-size: 18px;
  width: 100%;
  line-height: 50px;
  text-indent: 30px;
  position: relative;
}

.modal .modal-dialog .modal-close {
  position: absolute;
  top: 16px;
  right: 20px;
  cursor: pointer;
}

.modal .modal-dialog .model-warp .red {
  color: red;
  font-size: 20px;
  font-weight: bold;
  position: absolute;
  top: -1px;
  margin-left: 8px;
}

.modal .modal-dialog .model-warp {
  overflow: hidden;
  border-bottom: 2px solid #fff
}

.modal .modal-dialog .model-warp div {
  float: left;
  font-size: 14px;
  margin-top: 24px;
  color: #9d9d9d;
}

.modal .modal-dialog .model-warp div:nth-child(1) {
  width: 200px;
  text-align: right;
  margin-right: 30px;
  position: relative;
}

.modal .modal-dialog .model-warp div:nth-child(2) {
  margin-left: 14px;
  border-bottom: 2px solid #fff;
}

.modal .modal-dialog .model-warp div:nth-child(2) input {
  width: 500px;
  color: #9d9d9d;
  border: 0;
  border-radius: 0;

  border-bottom: 1px solid #d7d7d7;

  text-indent: 4px;
  line-height: 20px;
}

.modal .modal-dialog .model-warp div:nth-child(2) textarea {
  resize: none;
  border: 1px solid #d7d7d7;
  border-radius: 6px;
  width: 496px;
  text-indent: 4px;
  height: 126px;
  line-height: 20px;
}

@keyframes mymove {
  from {
    width: 0px;
  }
  to {
    width: 500px;
  }
}

@keyframes amount1 {
  from {
    width: 0px;
  }
  to {
    width: 110px;
  }
}

#service_detail_create_amount, #service_detail_edit_amount, #service_detail_edit_bind {
  width: 110px;
}

#service_detail_create_amount, #service_detail_edit_amount, #service_detail_edit_bind input {
  width: 110px;
}

#service_detail_edit_bind {
  border: none;
  border-bottom: 1px solid #d7d7d7;
  color: #9d9d9d;
}

.model-warp-selected div:nth-child(2) input {
  border-bottom: 0;
  color: #0088ce !important;
}

.amount div:nth-child(2) input {
  border-bottom: 0;
  color: #0088ce !important;
}

.edit_select {
  border: 0;
  width: 110px;
  border-bottom: 1px solid #d7d7d7;
  color: #0088ce !important;
}

.amount div:nth-child(2) {
  border-bottom: 2px solid #0088ce !important;
  animation: amount1 0.2s;

}

.model-warp-selected div:nth-child(2) {
  border-bottom: 2px solid #0088ce !important;
  animation: mymove 0.5s;

}

.model-btn {
  margin: 40px 58px;
  overflow: hidden;
}

.model-btn div {
  float: right;
  padding: 6px 14px;
  border-radius: 4px;
  cursor: pointer;
}

.model-btn .cancel {
  background-color: #959595;
  color: #fff;
  margin-right: 10px;
}

.model-btn .save {
  background-color: #0088ce;
  color: #fff;
  position: relative;
  padding: 6px 0;
  width: 70px;
  text-align: center;
  text-indent: 22px;
}

.model-btn .save img {
  position: absolute;
  left: 8px;
  top: 8px;
}

.body {
  overflow: hidden;
}

.service_detail .title1 {
  padding-bottom: 10px;
  border-bottom: 2px solid #e1e1e1
}

.service_detail .service_definition {
  margin-left: 10px;
  font-size: 16px;
  color: #6e6e6e;
  margin-top: 18px;
  overflow: hidden;

}

.service_detail .service_definition div {
  float: left;
  word-wrap: break-word;
  min-height: 26px;
}

.service_detail .service_definition div:nth-child(1) {
  width: 104px;
}

.service_detail .service_definition div:nth-child(2) {
  width: 400px;
  padding-right: 26px;
}

.service_detail .service_definition div:nth-child(3) {
  width: 140px;
}

.service_detail .service_definition div:nth-child(4) {
  width: 440px;
  padding-right: 26px;
}

.service_detail .title2 {
  position: relative;
  clear: both;
  margin-top: 50px;
  padding-bottom: 10px;
}

.service_detail .title2 .btnRed {
  top: 0px;
}

.service_detail .title_list_flex div {
  padding-right: 10px;
}

.service_detail .title_list_flex div:nth-child(1) {
  width: 260px;
}

.service_detail .title_list_flex div:nth-child(2) {
  width: 240px;
}

.service_detail .title_list_flex div:nth-child(3) {
  width: 130px;
}

.service_detail .title_list_flex div:nth-child(4) {
  width: 100px;
}

.service_detail .title_list_flex div:nth-child(5) {
  width: 180px;
}

.service_detail .title_list_flex div:nth-child(6) {
  width: 180px;
}

.service_detail .title_list_flex div:nth-child(7) {
  width: 52px;
  position: relative;
}

.service_detail .title_list_flex div:nth-child(7) {
  padding-left: 28px;
}

.service_detail .title_list_flex div:nth-child(7) img {
  left: 0;
  position: absolute;
}

.service_detail .title_list_warp {
  border-bottom: 0px solid #e1e1e1;
}

.service_detail .btnRed_blue {
  position: relative;
  width: 22px;
  padding-left: 38px;
  position: absolute;
  right: 0;
  top: 0;
}

.service_detail .btnRed_blue img {
  position: absolute;
  left: 10px;
  top: 5px
}

pre {
  max-height: 1000px;
  min-height: 500px;
  margin-top: 20px;
  background-color: #f6f6f6;
  border-radius: 10px;
  border: none;
  padding: 14px 24px;
  overflow-y: scroll;
}

.modal_hint {
  width: 400px !important;
  top: 50% !important;
  margin-top: -59px;
  margin-left: -200px !important;
  height: 118px;
  line-height: 118px;
}

@keyframes modal-processing-an {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.modal-processing img {
  margin-top: 32px;
  margin-left: 86px;
  float: left;
  animation: modal-processing-an 2s linear infinite;
}

.modal-processing span {
  font-size: 24px;
  float: left;
  margin-left: 18px;
  color: #212733;
}

.modal-tools img {
  animation: initial;
  margin-left: 124px;
}

.el-pager li.active {

  background-color: #0088ce;
  color: #fff;
  font-size: 14px;
  border-radius: 50%;
  width: 26px;
  line-height: 26px;
  text-align: center;
  height: 26px;
  min-width: auto;

}

.el-pager li {
  font-weight: normal;
  font-size: 14px;
}
